/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.item {
  flex: 1;
  margin: 5px;
}

.item-double {
  flex: 2;
}

fieldset {
  border: 0;
}

/* -------  Navigation ------- */

header {
  display: flex;
  background-color: #ff385c;
  padding-bottom: 10px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  text-align: center;
  margin: 0;
  /*padding-top: 20px;*/
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 600px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .logo {
    margin: 5px;
    padding: 5px;
    text-align: left;
  }

  header nav {
    margin: 5px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .group {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }

}