/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  align-content: space-evenly;
}

.item {
  flex: 1;
  margin: 5px;
  align-self: space-evenly;
  justify-content: flex-start;
}

.photo {
  
}

.fieldPair {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 5px;
  align-content: space-between;
  align-self: stretch;
}

.item-double {
  flex: 2;
  margin: 5px;
  flex-wrap: wrap;
  align-self: left
}

fieldset {
  border: 0;
  flex: 1;
  justify-self: center;
}

/* -------  Navigation ------- */

header {
  display: flex;
  background-color: #ff385c;
  padding-bottom: 10px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 64px;
  color: #fff;
  text-align: center;
  margin: 0;
  /*padding-top: 20px;*/
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: center;
  margin: 0;
  flex: 1;
}

form label {
  font-weight: bold;
  justify-content: flex-start;
  margin: 5px;
  flex: 1;
}

form select,
form input {
  margin: 0;
  width: 100%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
  flex: 1;
  align-self: center;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  .logo {
    margin: 5px;
    padding: 5px;
    text-align: left;
    font-size: 200%;
  }

  .item {
    align-self: center;
    /*justify-content: flex-start;*/
  }

  .fieldPair {
    flex: 1;
    flex-direction: column;
  }

  header nav {
    margin: 5px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .group {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
  }

}

@media all and (max-width: 360px) {
  .fieldPair {
    font-size: smallest;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  .item {
    flex: 1;
    margin: 0;
    justify-content: flex-start;
  }

}